[Desktop Entry]
Name=Meety
Comment=Quickly start online meetings from YAML
Exec=meety
Icon=meety-256.png
Type=Application
Terminal=false
Categories=Utility;
